



<!DOCTYPE html>
<Html>
    <head>
        <title>Travel Info-Door</title>
        <!-- CSS only -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" >
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">Travelogue</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <% if(!currentUser){ %>
                            <li><a href="/register">Sign up</a></li>
                            <li><a href="/login">Login</a></li>    
                        <% } else { %>
                            <li><a href="#">Signed in as <%= currentUser.username %></a></li>
                            <li><a href="/logout">Logout</a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <% if(error && error.length>0){ %>
                <div class="alert alert-danger" role="alert">
                    <h4><%= error %></h4>
                </div>
            <% } %>
            <% if(success && success.length>0){ %>
                <div class="alert alert-success" role="alert">
                    <h4><%= success %></h4>
                </div>
            <% } %>
        </div>
       

        <div id="landing-header">
            <strong><h1>WELCOME TO THE TRAVEL BOOK!</h1></strong>
           <a href="/campgrounds" class="btn btn-lg btn-success">VIEW ALL THE TRAVELOGUES</a>
       </div>
        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>

       
    </body>
</Html>





